body{
    background-color: lightgrey;
}
h1{
    font-size: 40px;
    color: orange;
    text-align: center;
}
h2{
    font-size: 35px;
    color: rgb(207, 179, 179);
    text-align: center;
}
